{% extends 'albums/base.html' %}

{% block body_block %}
<style>
p {
    color: black;
}

.fancy-hr {
    overflow: visible; /* For IE */
    height: 15px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 10px;
}

#album-name {
    text-align: center;
}

#album-attribution {
    text-align: right;
}

.album-info {
    background-color: rgba(100, 100, 100, 1);
    border-radius: 40px;
    padding-top: 20px;
    padding-bottom: 50px;
    top:150px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.album-cover {
    top:150px;
    padding-bottom:50px;
}

.content:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  
  display: block;
  background-image: url({{album.album_art}});
  background-repeat: repeat;
  background-size: 200px 200px;
  width:100%;
  height: 100%;
  overflow: scroll;
  
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.content {
  left: 0;
  right: 0;
  z-index: 0;
  width:100%;
  height: 100%;
}

</style>
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-12 center album-cover">
                <img src='{{album.album_art}}' onerror="javascript:this.src='https://static1.squarespace.com/static/55a57011e4b09934ba12fd1a/5612b784e4b07c6a02988249/5612dd98e4b0e75bc4a61cc7/1444076954414/record.png?format=500w'" class="img-album-page" title="{{album}} Album Art">
            </div>
            <div class="col-xl-6 col-lg-12 album-info">
                <h1 id="album-name">{{album.name}}</h1>
                {% if user.is_superuser %}
                <span><a href="{% url 'edit-album' artist=album.artist.slug album=album.slug %}"><small><small>Edit</small></small></a></span>
                <span><a href="#" onclick="ConfirmDelete('{{album.artist.slug}}', '{{album.slug}}');"><small><small>Delete</small></small></a></span>
                {% endif %}
                <h2 id="album-attribution"><small><small>an album by </small></small><a href="{% url 'artist-page' artist=album.artist.slug %}">{{album.artist.name}}</a></h2>
                <hr class="fancy-hr">
                {% if album.current_rating %}
                <p id="current-rating">Score: 
                    {{album.current_rating.normalize}}
                </p>
                {% endif %}
                {% if album.primary_genre %}
                <p id="primary-genre">
                    Primary Genre:
                    <a href="{% url 'primary-genre' genre=album.primary_genre %}">{{album.primary_genre}}</a>
                </p>
                {% endif %}
                {% if album.subgenres.all %}
                <p id="subgenres">
                    Subgenres:
                    {% for match in album.subgenres.all %}
                    {% if forloop.first %}
                    <a href="{% url 'secondary-genre' genre=match.subgenre %}">{{match.subgenre}}</a>
                    {% endif %}
                    {% if not forloop.first %}
                    , <a href="{% url 'secondary-genre' genre=match.subgenre %}">{{match.subgenre}}</a>
                    {% endif %}
                    {% endfor %}
                </p>
                {% endif %}
                {% if album.note %}
                <p>My thoughts:</p>
                <p id="notes">
                    {{album.note}}
                </p>
                {% endif %}
                {% if album.release_date %}
                <p id="release-date">
                    Release Date:
                    {{album.release_date}}
                </p>
                {% endif %}
                {% if album.order %}
                <p id="order">
                    Order:
                    {{album.order}}
                </p>
                {% endif %}
                {% if album.chart %}
                <p id="chart">
                    Chart:
                    {{album.chart}}
                </p>
                {% endif %}
                {% if album.row %}
                <p id="row">
                    Row:
                    {{album.row}}
                </p>
                {% endif %}
                {% if album.date_finished %}
                <p id="listen-date">
                    Personal First Listen Date:
                    {{album.date_finished}}
                </p>
                {% endif %}
                {% if album.release_date %}
                <p id="release-date">
                    Release Date:
                    {{album.release_date}}
                </p>
                {% endif %}
                {% if album.time_length %}
                <p id="time-length">
                    Run Length of Album:
                    {% if album.time_hours %}
                    {{album.time_hours}}h 
                    {% endif %}
                    {{album.time_minutes}}m {{album.time_seconds}}s
                </p>
                {% endif %}
                <p id="vinyl">
                    Own On Viynl:
                    {% if album.vinyl %}
                    Yes
                    {% else %}
                    No 
                    {% endif %}
                </p>
                <p id="cassette">
                    Own On Cassette:
                    {% if album.cassette %}
                    Yes
                    {% else %}
                    No 
                    {% endif %}
                </p>
                {% if has_url %}
                <h5>Learn More:</h5>
                <div class="row">
                    {% if album.wiki_url %}
                    <div class="col-1">
                        <a href="{{album.wiki_url}}"><i class="fa fa-wikipedia-w" aria-hidden="true"></i></a>
                    </div>
                    {% endif %}
                    {% if album.bc_url %}
                    <div class="col-1">
                        <a href="{{album.bc_url}}"><i class="fa fa-bandcamp" aria-hidden="true"></i></a>
                    </div>
                    {% endif %}
                    {% if album.amazon_url %}
                    <div class="col-1">
                        <a href="{{album.amazon_url}}"><i class="fa fa-amazon" aria-hidden="true"></i></a>
                    </div>
                    {% endif %}
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
function ConfirmDelete(artist, album) {
    var d = confirm("Are you sure you want to delete" + album + ' by ' + artist + "?");
    if (d) {
        window.location.href = "{% url 'delete-album' album=album.slug artist=album.artist.slug %}";
    }
};
</script>

{% endblock %}