{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js"> <!--<![endif]-->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <title>Samuelson's Album Experiment</title>

  <!-- JQuery CDN -->
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous">
  </script>

<!-- Mobile Specific Meta
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'albums/img/favicon1.ico' %}" />
  
  <!-- CSS
  ================================================== -->
  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="{% static 'albums/css/bootstrap/bootstrap.min.css' %}">
  <!-- Lightbox.min css -->
  <link rel="stylesheet" href="{% static 'albums/css/lightbox2/lightbox.min.css' %}">
  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="{% static 'albums/css/style.css' %}">
  <!-- Personal Stylesheet -->
  <link rel="stylesheet" href="{% static 'albums/css/album-theme.css' %}">
  <!-- Icon Stylesheet -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <!-- Colors -->
  <!-- <link rel="stylesheet" type="text/css" href="css/colors/green.css" title="green">
  <link rel="stylesheet" type="text/css" href="css/colors/red.css" title="light-red">
  <link rel="stylesheet" type="text/css" href="css/colors/light-blue.css" title="light-blue">
  <link rel="stylesheet" type="text/css" href="css/colors/yellow.css" title="yellow">
  <link rel="stylesheet" type="text/css" href="css/colors/light-green.css" title="light-green">
  <link rel="stylesheet" type="text/css" href="css/colors/blue.css" title="blue"> -->

  <!-- Select2 CDN -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
  

</head>

<body id="body">


<!--
Fixed Navigation
==================================== -->
<section class="header  navigation">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-md">
                    <span style="color:wheat">Brought to you by:</span>
                    <a class="navbar-brand" href="">
                        <img src="{% static 'albums/img/new_logo.png' %}" alt="logo">
                    </a>  
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="tf-ion-android-menu"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item {% if home %}{{home}}{% endif %}">
                                <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item {% if about %}{{about}}{% endif %}">
                                <a class="nav-link" href="{% url 'about' %}">About</a>
                            </li>
                            <li class="nav-item {% if stat %}{{stat}}{% endif %}">
                                <a class="nav-link" href="{% url 'statistics' %}">Statistics</a>
                            </li>
                            <li class="nav-item dropdown {% if discover %}{{discover}}{% endif %}">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Discover</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{% url 'chart-main' %}">Charts</a>
                                    <a class="dropdown-item" href="{% url 'group' group='queue' %}">Queue</a>
                                    <a class="dropdown-item" href="{% url 'group' group='vinyl' %}">Vinyls</a>
                                    <a class="dropdown-item" href="{% url 'group' group='cassette' %}">Cassettes</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown {% if more %}{{more}}{% endif %}">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{% url 'suggestion' %}">Suggest An Album</a>
                                    <a class="dropdown-item" href="{% url 'game' %}">Album Match Game</a>
                                {% if user.is_superuser %}
                                    <a class="dropdown-item" href="{% url 'add-album' %}">Add Albums</a>
                                    <a class="dropdown-item" href="{% url 'recc-review' %}">Recommendations Review</a>
                                {% endif %}
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</section>

{% block body_block %}
{% endblock %}
</body>

<footer>
    <!-- 
    Essential Scripts
    =====================================-->    
    <!-- Main jQuery -->
    <!--<script src="{% static 'albums/plugins/jquery/dist/jquery.min.js' %}"></script>-->
    <!-- Bootstrap 3.7 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <!--<script src="{% static 'albums/plugins/bootstrap/dist/js/popper.min.js' %}"></script>-->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!--<script src="{% static 'albums/plugins/bootstrap/dist/js/bootstrap.min.js' %}"></script>-->
</footer>
