{% include "albums/header.html" %}
<section>
    <div class="container">
        <div class="row" style="padding: 10px;">
            <form action="{% url 'chart' chart_num=chart_num %}" method=POST> {% csrf_token %}
                <input type="text" placeholder="Search..." id="search-bar" name="search">
                <select onchange=this.form.submit() name="order">
                    <option value="" disabled selected>Order By...</option>
                    <option value="name">Alphabetical (Album)</option>
                    <option value="artist">Alphabetical (Artist)</option>
                    <option value="time">Album Length</option>
                    <option value="listen_date">Chronological</option>
                    <option value="rating">Rating</option>
                    <option value="release">Release Date</option>
                </select>
                <select onchange=this.form.submit() name="direction">
                    <option value="up">Ascending</option>
                    <option value="down">Descending</option>
                </select>
            </form>
        </div>
    </div>
    <h1 class="center">Chart {{chart_num}}</h1>
</section>
<section>
        <div id="albums" class="center">
        {% for album in albums %}
            {% if album.chart < 4 %}
                {% if forloop.counter0|divisibleby:12 %}
                <br/>
                {% endif %}
            {% else %}
                {% if forloop.counter0|divisibleby:10 %}
                <br/>
                {% endif %}        
            {% endif %}
            <a href="{% url 'album-page' artist=album.artist.slug album=album.slug %}"><img src="{{album.album_art}}" name="{{album.slug}}" onerror="javascript:this.src='https://static1.squarespace.com/static/55a57011e4b09934ba12fd1a/5612b784e4b07c6a02988249/5612dd98e4b0e75bc4a61cc7/1444076954414/record.png?format=500w'" style="max-height: 100px; max-width: 100px; width: 100px; display: inline-block; margin-left: auto; margin-right: auto;" title="{{album}}"></a>
        {% endfor %}
        </div>
    </section>
<footer>
    <script>
$( document ).ready(function(){
    $("#search-bar").val("{{search}}")
    $("select[name='order']").val("{{order}}")
    $("select[name='direction']").val("{{direction}}")
    hideImages();
});

function hideImages () {
    var h1s = $("#albums").find("img");
    var q = $( "#search-bar" ).val().toLowerCase();
    $.each(h1s, function(id, value) {
        var contains = value.title.toLowerCase();
        if (contains.indexOf(q) === -1) {
            $("img[name='"+value.name+"']").css('display', 'none');
        } else {
            $("img[name='"+value.name+"']").css('display', 'inline-block');
        };
    });   
};

$("#search-bar").on("input", function(e) {
    hideImages();
});
$("#search-bar").trigger("input");        
    </script>
</footer>