{% extends 'albums/base.html' %}

{% block body_block %}

<section id="notification-header" class="center">
{% if saved %}
<p style="padding: 10px; background-color:darkgreen; color:white;">Saved!</p>
{% endif %}
{% if error %}
<p style="padding: 10px; background-color:red; color:black;">Please check every field for an error.</p>
{% endif %}
</section>
<div class="bootstrap-iso">
    <div class="container-fluid">
        <div class="row form-div">
            <form action="{% url 'edit-album' artist=album.artist.slug album=album.slug %}" method=POST class="center">
                {% csrf_token %}
                {% for field in form %}
                <div class="row">
                    {% if 'Subgenre' in field.label_tag %}<div class="col-12">Current Subgenres: {% for genre in album.subgenres.all %}{{genre.subgenre}} | {% endfor %}</div><br>{% endif %}
                    <span class="col-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 form-label">{{field.label_tag}}{% if field.field.required %}<span class="help-text">*</span>{% endif %}</span>
                    <span class="col-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 form-label">{{field}}{% if 'Date finished' in field.label_tag  %}<button type="button" onclick="fillCurrentDate();">Current Date</button>{% endif %}</span>
                </div>
                <div class="row">    
                    <small><span class="col-4 help-text">{{field.help_text}}</span></small>
                </div>
                <br>
                {% endfor %}
                <hr/>   
                <input type="submit" value="Save">
                <input type="button" onclick="updateAlbum();" value="Update">
                <a href="{% url 'album-page' artist=album.artist.slug album=album.slug %}"><button type="Button">Cancel</button></a>
            </form>
        </div>
    </div>
</div>

<script>
$('textarea').each(function() {
    $( this ).attr('cols', 30).attr('rows', 2);
});
var csrftoken = $   ("[name=csrfmiddlewaretoken]").val();
function csrfSafeMethod(method) {
// these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});
function fillCurrentDate() {
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth()+1; //January is 0!
    var yyyy = today.getFullYear();

    if(dd<10) {
        dd = '0'+dd
    } 

    if(mm<10) {
        mm = '0'+mm
    } 

    today = yyyy + '-' + mm + '-' + dd;
    $('#id_date_finished').val(today);
}

function updateAlbum() {
    var album_name = $('#id_name').val();
    var album_artist = $('#id_artist').val();
    $.post("{% url 'update_album_info' %}", {'album_name' : album_name, 'album_artist' : album_artist });
}
</script>

{% endblock %}