{% extends 'albums/base.html' %}

{% block body_block %}
<div class="container" style="top: 40px; position: relative;">
    <div class="row">
        {% for feature in features%}
        <div class="card col col-md-5">
            <div class="card-body">
                <div class="card-title">
                    <h1>{{feature.name}}</h1>
                </div>
                <div class="card-text">
                    <p>{{feature.description}}</p>
                </div>
                <div class="btn btn-warning">
                    <a onclick="loginSpotify('{{feature.url}}', '{{feature.scope}}')">View Feature</a>
                </div>
            </div>
        </div>
        {% endfor %}        
    </div>
</div>

<script>
function loginSpotify(url, scope){
        var SPOTIPY_CLIENT_ID = "{{sp_creds.id}}";
        var SPOTIPY_REDIRECT_URI = "{{sp_creds.login}}";
        var spotifyScope = scope;
        var spotifyAuthEndpoint = "https://accounts.spotify.com/authorize?"+"client_id="+SPOTIPY_CLIENT_ID+"&redirect_uri="+SPOTIPY_REDIRECT_URI+"&scope="+spotifyScope+"&response_type=token&state=123";
        window.open(spotifyAuthEndpoint,'callBackWindow','height=500,width=400');
        window.location.href = url;

    }
</script>

{% endblock %}