{% extends 'albums/base.html' %}

{% block body_block %}
<table class="center table-format">
    <tbody style="margin: 10px; margin-left:auto; margin-right: auto;">
        <tr>
            <th>Album Name</th>
            <th>Artist Name</th>
            <th>Genre</th>
            <th>Note</th>
            <th>URL</th>
            <th>Recommender</th>
            <th>Accept</th>
            <th>Accept and Add</th>
        </tr>
        {% for recc in reccs %}
        <tr>
            <td>{{recc.album_name}}</td>
            <td>{{recc.artist_name}}</td>
            <td>{{recc.genre|default_if_none:"N/A"}}</td>
            <td>{{recc.note|default_if_none:"N/A"}}{% if recc.amazon_referral_url%}<i class="fab fa-amazon"></i>{% endif %}</td>
            <td>{% if recc.url %}<a href="{{recc.url}}">Listen Here</a>{% endif %}</td>
            <td>{{recc.recommender|default_if_none:"N/A"}}</td>
            <td><a href="{% url 'accept_recc' recc_id=recc.id %}"><i class="fas fa-plus"></i></a></td>
            <td><a href="{% url 'accept_and_add_recc' recc_id=recc.id %}"><i class="fas fa-plus"></i></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}