{% extends 'albums/base.html' %}

{% block body_block %}
    <div class="center" style="text-align: left;">
        <h1>Statistics Homepage</h1>
        <h3>Summary Statistics</h3>
        <ul>
            <li><b>Total Albums Listened:</b> {{total_album_num}}</li>
            <li><b>Total Subgenres Listened:</b> {{total_subgenres_num}}</li>
            <li><b>Total Time Listened:</b> {{total_time}}</li>
            <li><b>Average Rating of All Albums:</b> {{total_avg_rating}}</li>
            <li><b>Average Listening Time Per Day:</b> {{avg_new_music}}</li>
        </ul>
        <hr>
        <h3>Queue Statistics</h3>
        <ul>
            <li><b>Number of Albums in Queue:</b> {{queue_length}}</li>
            <li><b>Time Length of Queue:</b> {{queue_time}}</li>
            <li><b>Estimated Time For Queue Completion:</b> {{queue_completion}} days</li>
        </ul>
        <hr>
        <h3>Primary Genre Statistics</h3>
        <div id="genre-table" style="width:90%; margin: 0px auto;" class="ag-theme-alpine"></div>
        <hr>
        <h3>{{year_stats.year}} Statistics for New Music</h3>
        <ul>
            <li><b>Total Albums Listened to in {{year_stats.year}}:</b> {{year_stats.album_qty}}</li>
            <li><b>Total Time Listened:</b> {{year_stats.time_listened}} minutes</li>
            
        </ul>
        
        <div id="year-stats-table" style="width:90%; margin: 0px auto;" class="ag-theme-alpine"></div>
        <!-- <div id="genre-table" style="width:90%; margin: 0px auto;" class="ag-theme-alpine"></div> -->
    </div>

</body>


<script>
    var genreColumnDefs = [
        {
            headerName: "Genre",
            field: "genre",
            cellRenderer: (params) => {
                return "<a target='_blank' href=" + params.data.genre_playlist + ">" + params.value + "</a>"
            }
        },
        {
            headerName: "# of Albums",
            field: "count"},
        {
            headerName: "Average Rating",
            field: "avg_rating"
        },
        {
            headerName: "Min Album Rating",
            field: "min_rating"
        },
        {
            headerName: "Max Album Rating",
            field: "max_rating"
        },
        {
            headerName: "Std. Dev. of Album Ratings",
            field: "stddev"
        },
        {
            headerName: "Spotify",
            field: "spotify_playlist",
            cellRenderer: (params) => {
                return "<a href=" + params.data.spotify_playlist + "><i class='fab fa-2x fa-spotify' aria-hidden='true' style='color:#8bb601'></i></a>"
            }
        }
    ];
        
    // specify the data
    var genreRowData = JSON.parse('{{ genre_count }}'.replace(/&quot;/g,'"'));
     
    // let the grid know which columns and what data to use
    var genreGridOptions = {
        defaultColDef: {
            sortable: true,
            filterable: true,
            resizable: true
        },
        columnDefs: genreColumnDefs,
        rowData: genreRowData,
        domLayout: 'autoHeight',
        onFirstDataRendered: (params) => {
            params.api.sizeColumnsToFit()
        },
        onGridReady: (params) => {
            params.api.sizeColumnsToFit()
        }
    };

    // setup the grid after the page has finished loading
    document.addEventListener('DOMContentLoaded', function() {
        var gridDiv = document.querySelector('#genre-table');
        new agGrid.Grid(gridDiv, genreGridOptions);
    });


    var yearStatsColumnDefs = [
        {
            headerName: "Album",
            field: "name",
            cellRenderer: (params) => {
                var text = '<div>'
                if (params.data.album_url) {
                    text += "<a target='_blank' href=" + params.data.album_url + ">" + params.value + "</a></div>"
                } else {
                    text += params.value + "</div>"
                }
                return text
            }
        },
        {
            headerName: "Artist",
            field: "artist",
            cellRenderer: (params) => {
                var text = '<div>'
                if (params.data.artist_url) {
                    text += "<a target='_blank' href=" + params.data.artist_url + ">" + params.value + "</a></div>"
                } else {
                    text += params.value + "</div>"
                }
                return text
            }
        },
        {
            headerName: "Listen Date",
            field: "date_finished"
        }, 
        {
            headerName: "Rating",
            field: "current_rating"
        }
    ];

    // specify the data
    console.log($('<textarea />').html('{{ year_stats.albums }}').text())
    console.log($('<textarea />').html('{{ year_stats.albums }}').text().substring(6871-20, 6871+20))
    console.log($('<textarea />').html('{{ year_stats.albums }}').text().substring(6871, 6871))
    var yearStatsRowData = JSON.parse($('<textarea />').html('{{ year_stats.albums }}').text());
     
    // let the grid know which columns and what data to use
    var yearStatsGridOptions = {
        defaultColDef: {
            sortable: true,
            filterable: true,
            resizable: true
        },
        columnDefs: yearStatsColumnDefs,
        rowData: yearStatsRowData,
        domLayout: 'autoHeight',
        onFirstDataRendered: (params) => {
            params.api.sizeColumnsToFit()
        },
        onGridReady: (params) => {
            params.api.sizeColumnsToFit()
        }
    };

    // setup the grid after the page has finished loading
    document.addEventListener('DOMContentLoaded', function() {
        var gridDiv = document.querySelector('#year-stats-table');
        new agGrid.Grid(gridDiv, yearStatsGridOptions);
    });



</script>

{% endblock %}