{% extends 'albums/base.html' %}

{% block body_block %}

<div class="bootstrap-iso">
    <div class="container-fluid">
        <div class="row form-div">
            <form action="{% url 'suggestion' %}" method=POST class="center">
                {% csrf_token %}
                {% for field in form %}
                <div class="row">
                    <span class="col-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 form-label">{{field.label_tag}}{% if field.field.required %}<span class="help-text">*</span>{% endif %}</span>
                    <span class="col-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 form-label">{{field}}</span>
                </div>
                <div class="row">    
                    <small><span class="col-4 help-text">{{field.help_text}}</span></small>
                </div>
                <br>
                {% endfor %}
                <hr/>   
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="row form-div">
        <div class="col-12">
            <h4>Amazon Referral Link</h4>
            <p>You may be asking yourself what an Amazon referral link is or why you should submit one. According to Amazon's website, if you log in to <a href="affiliate-program.amazon.com">their affiliate site</a>, you can click on "Product Links" in the "Product Linking" tab, find the item you want, and then generate a link for it. Every time someone clicks your link and buys the product, then you can recieve up to 10% of the purchase back. I have no guarantee someone would buy something from my site, but if they do, you'll receive money for your recommendation.</p>
        </div>
    </div>
</div>

<script>
$('textarea').each(function() {
    $( this ).attr('cols', 30).attr('rows', 2);
});
</script>

{% endblock %}