{% extends 'albums/base.html' %}

{% block body_block %}

<div class="bootstrap-iso">
    <div class="container-fluid">
        <div class="row form-div">
            <form action="{% url 'suggestion' %}" method=POST class="center">
                {% csrf_token %}
                {% for field in form %}
                <div class="row">
                    <span class="col-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 form-label">{{field.label_tag}}{% if field.field.required %}<span class="help-text">*</span>{% endif %}</span>
                    <span class="col-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 form-label">{{field}}</span>
                </div>
                <div class="row">    
                    <small><span class="col-4 help-text">{{field.help_text}}</span></small>
                </div>
                <br>
                {% endfor %}
                <hr/>   
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>

<script>
$('textarea').each(function() {
    $( this ).attr('cols', 30).attr('rows', 2);
});
</script>

{% endblock %}