{% include 'albums/header.html' %}

<style>
#post-it-container {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 1px;
  z-index: 1;
  float:left;
}
#post-it-container {
  perspective: 1000;
}
#post-it-card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 500ms linear;
}
#post-it-container:hover #post-it-card {
  transform: rotateY(180deg);
  cursor:pointer;
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 5px;
  color: black;
  text-align: center;
  overflow:hidden;
  text-overflow: ellipsis;
}

div.strategy {
margin:0;
float: left;
color: #151515;
display: block;
height: 100px;
width: 100px;
text-align: center;
font-family: "Gloria Hallelujah","Lato","Helvetica Neue", Arial, sans-serif;
font-size: 0.9rem;
}

</style>

  
<div id="post-it-container">
  <div id="post-it-card" class="">
    <div class="front face">
      <div class="strategy">
        <a href="{% url 'album-page' artist=album.artist.slug album=album.slug %}"><img src="{{album.album_art}}" name="{{album.slug}}" onerror="javascript:this.src='https://static1.squarespace.com/static/55a57011e4b09934ba12fd1a/5612b784e4b07c6a02988249/5612dd98e4b0e75bc4a61cc7/1444076954414/record.png?format=500w'" style="max-height: 100px; max-width: 100px; width: 100px; display: inline-block; margin-left: auto; margin-right: auto;" title="{{album}}"></a>
      </div>
    </div>
    <div class="back face center">
      <p>{{album}}<p>
    </div>
  </div>
</div>
  
  <div id="post-it-container">
  <div id="post-it-card" class="shadow">
    <div class="front face">
      <div class="strategy">At conferences or workshops</div>
    </div>
    <div class="back face center">
      <p>Promote discussion of how organizations can work across silos to advance well-being for families with young children<p>
    </div>
  </div>
  </div>
  
  <div id="post-it-container">
  <div id="post-it-card" class="shadow">
    <div class="front face">
      <div class="strategy">Engage partners and allies in dialogue</div>
    </div>
    <div class="back face center">
      <p>Create a shared foundation and common language for discussing early childhood and aligning your priorities<p>
    </div>
  </div>
  </div>
  
    <div id="post-it-container">
  <div id="post-it-card" class="shadow">
    <div class="front face">
      <div class="strategy">Integrate it into policy briefings</div>
    </div>
    <div class="back face center">
      <p>Use clips draw the attention of civic leaders, policymakers and other gatekeepers to child health and well-being inequities<p>
    </div>
  </div>
  </div>
  
  <div id="post-it-container">
  <div id="post-it-card" class="shadow">
    <div class="front face">
      <div class="strategy">Bring attention to current news</div>
    </div>
    <div class="back face center">
      <p>Use clips to connect current news items with the broader early childhood climate in America<p>
    </div>
  </div>
  </div>
  
  <div id="post-it-container">
  <div id="post-it-card" class="shadow">
    <div class="front face">
      <div class="strategy">Hosting town halls and public dialogues</div>
    </div>
    <div class="back face center">
      <p>Convene public officials, health advocates and workers, community-based organizations, and the press to generate change<p>
    </div>
  </div>
  </div>
  
    <div id="post-it-container">
  <div id="post-it-card" class="shadow">
    <div class="front face">
      <div class="strategy">Support a specific policy target</div>
    </div>
    <div class="back face center">
      <p>Use the series to help frame, raise visibility, and support a policy or initiative that advances early child health and development<p>
    </div>
  </div>
  </div>
  
  <div id="post-it-container">
  <div id="post-it-card" class="shadow">
    <div class="front face">
      <div class="strategy">Build new alliances</div>
    </div>
    <div class="back face center">
      <p>Use the series to new and unconventional coalitions in different sectors (labor, business, education, housing, criminal justice)<p>
    </div>
  </div>
  </div>
  
  <div id="post-it-container">
  <div id="post-it-card" class="shadow">
    <div class="front face">
      <div class="strategy">Engage the media</div>
    </div>
    <div class="back face center">
      <p>Encourage the media to promote discussion of how the film reflects societal inequities impacting our families with young children<p>
    </div>
  </div>
  </div>
    

{% include 'albums/js.html' %}