.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.img-album-page {
    height: 500px;
    width: 500px;
}

.img-main-page {
    max-height: 200px;
    max-width: 200px;
    width: 200px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.form-div {
    padding: 2% 30%;
    left: 50%;
}

.form-row {
    bottom: 10px;
}

.form-label {
    text-align: left;
}

.help-text {
    color: red;
}

.banner {
    position: relative;
    background-color: #1f2532;
    color: white;
    height:170px;
    width: 100%;
}

.banner a {
    color: red;
}

.banner:first-child {
    margin-top: 5%;
}

body {
    background-color:aliceblue;
}

/*Album flip css */
#album-container {
    justify-content: space-evenly;
    width: 200px;
    height: 200px;
    z-index: 1;
    display:inline-block;
    margin: 10px;
}

#album-card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 500ms linear;
}
#album-container:hover #album-card {
    transform: rotateY(180deg);
    cursor:pointer;
}
.face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.face.back {
    display: block;
    transform: rotateY(180deg);
    box-sizing: border-box;
    padding: 5px;
    color: black;
    text-align: center;
    overflow:hidden;
    text-overflow: ellipsis;
}

span.strategy {
    margin:0;
    float: left;
    color: #151515;
    display: block;
    height: 100px;
    width: 100px;
    text-align: center;
    font-family: "Gloria Hallelujah","Lato","Helvetica Neue", Arial, sans-serif;
    font-size: 0.9rem;
}

/*Table formattings*/

table {
    width:60%;
    margin-left:20%;
    margin-right:20%;
}
th, td {
    border-bottom: 1px solid #1f2532;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
    text-align: left;
}
table.table-format tr:nth-child(even) {
    background-color: #eee;
}
table.table-format tr:nth-child(odd) {
   background-color: #fff;
}
table.table-format th {
    background-color: black;
    color: white;
}

/* album page */
.album-background-image {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
  
    display: block;
    /*needs background image self assigned from django*/
    width: 1200px;
    height: 800px;
  
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
  }

.album-content {
    z-index: 5;
}



/* Report Tooltip container */
.report-tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    height:0%;
}

/* Tooltip text */
.report-tooltip .report-tooltiptext {
    visibility: hidden;
    width: 280px;
    background-color: #1f2532;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    top:110px;
    right: 20px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 9999;
}

/* Show the tooltip text when you mouse over the tooltip container */
.visible {
    visibility: visible;
}

#background-box {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: 99999;
    background-color: #666;
    opacity: 0.9;
    visibility: hidden;
}

#report-success {
    position: fixed;
    left: calc(50% - 250px);
    top: 35%;
    background-color: #1f2532;
    color: whitesmoke;
    width: 500px;
    text-align: center;
    font-size: 2em;
    padding: 5% 2%;
    border-radius: 25px;
    visibility: hidden;
    z-index: 99999;
}

.button {
    display: inline-block;
    margin-top: 20px;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #e91e63;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button:hover {background-color: #e91e63}
  
  .button:active {
    background-color: #e91e63;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }