{% extends 'albums/base.html' %}
{% load static %}

{% block body_block %}
<section>
    <div class="container">
        <div class="row" style="padding: 10px;">
            <form action="{% url 'home' %}" method=POST> {% csrf_token %}
                <input type="text" placeholder="Search..." id="search-bar" name="search">
                <select onchange=this.form.submit() name="order">
                    <option value="" disabled selected>Order By...</option>
                    <option value="name">Alphabetical (Album)</option>
                    <option value="artist">Alphabetical (Artist)</option>
                    <option value="time">Album Length</option>
                    <option value="listen_date">Personal Listen</option>
                    <option value="rating">Rating</option>
                    <option value="release">Release Date</option>
                </select>
                <select onchange=this.form.submit() name="direction">
                    <option value="up">Ascending</option>
                    <option value="down">Descending</option>
                </select>
            </form>
        </div>
    </div>
</section>
<div id="all-the-albums">
{% include "albums/render_albums.html" %}
</div>
<footer>
    <script>
$( document ).ready(function(){
    $("#search-bar").val("{{search}}")
    $("select[name='order']").val("{{order}}")
    $("select[name='direction']").val("{{direction}}")
    hideImages();
});

function hideImages () {
    var h1s = $("#albums").find("img");
    var q = $( "#search-bar" ).val().toLowerCase();
    $.each(h1s, function(id, value) {
        var contains = value.title.toLowerCase();
        if (contains.indexOf(q) === -1) {
            $("img[name='"+value.name+"']").parent().parent().parent().parent().parent().css('display', 'none');
        } else {
            $("img[name='"+value.name+"']").parent().parent().parent().parent().parent().css('display', 'inline-block');
        };
    });   
};

var total_albums = {{total_albums}};
var albums_loaded = 50;
var last_album = albums_loaded;

var csrftoken = $   ("[name=csrfmiddlewaretoken]").val();
function csrfSafeMethod(method) {
// these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

$(window).scroll(function() {
   if($(window).scrollTop() + $(window).height() == $(document).height()) {

       var additional_albums = last_album + 50;

       if (additional_albums == total_albums) {
           return
       } else if (additional_albums > total_albums) {
           additional_albums = total_albums;
       }
       $.post("{% url 'load_more_albums' %}", {'start' : last_album, 'end' : additional_albums, 'search' : $('#search-bar').val(), 'order' : $("select[name='order']").val(), 'direction' : $("select[name='direction']").val()}, function(data) {appendAlbums(data);});
       last_album = additional_albums;

   }
});
function appendAlbums(data) {
    $('#all-the-albums').append(data);
}
$("#search-bar").on("input", function(e) {
    hideImages();
});
$("#search-bar").trigger("input");        
    </script>
</footer>
{% endblock %}